.sample {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sampleImage {
    max-height: 700px;
    max-width: 1000px;
}

.sample:hover {
    cursor: pointer;
}